<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <%= link_to root_path, class: 'navbar-brand' do%>
      <%= image_tag('shout.png', alt: 'logo image', width: 70, height: 70,
                                 class: 'd-inline-block align-text-middle') %>
      Shoutr
    <% end %>

    <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent'
            aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <%= link_to root_path, class: 'nav-link active' do %>
            Home
          <% end %>
        </li>
      </ul>

      <form class='d-flex mx-2'>
        <input class='form-control me-2' type='search' placeholder='Search'
               aria-label='Search'>
        <button class='btn btn-outline-success' type='submit'>Search</button>
      </form>

      <%= user_signed_in? %>  

    </div> 

  </div>
</nav>
